<div>
  <img [src]="this.previewUrl$ | async"/>
  <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
    
      <p>
        <mat-form-field>
          <mat-label for="title">
            Title: 
          </mat-label>
  
          <input matInput id="title" type="text" formControlName="title">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <mat-label for="description">
            Description: 
          </mat-label>
          <br/>
          <textarea matInput id="description" type="text" formControlName="description"></textarea>
        </mat-form-field>
      </p>
          

  
      <button mat-flat-button class="button" type="submit">save</button>
  
  </form>
</div>
