<mat-card>
    <mat-card-header>
        <img mat-card-avatar [src]="!!comment.profilePictureLocation ? api + '/' + comment.profilePictureLocation : defaultPictureLocation">
        <mat-card-title>
            <div *ngIf="!!comment.username; else deleted" style="display: flex; flex-direction: row;">
                <a [href]=" '/user/' + comment.username">
                    {{comment.displayname}}
                </a>
                <div *ngIf="comment.op == comment.username" style="color: cornflowerblue; margin: 5px;">
                    OP
                </div>
                <div *ngIf="isLoggedInUser$ | async" style="color: darkslategrey;  margin: 5px;">
                    (You)
                </div>
            </div>
            <ng-template #deleted>[deleted]</ng-template>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div *ngIf="editMode; else content">
            <app-comment-write #editCommentBox (cancel)="cancelEdit()" (saveComment)="saveComment($event)" [content]="comment.content"></app-comment-write>
        </div>
        <ng-template #content>
            <p>{{comment.content}}</p>
            <div style="display: flex; flex-direction: row;">
                <button mat-button (click)="showWriteReplyForm()">reply</button>
                <div *ngIf="isLoggedInUser$ | async">
                    <button mat-button (click)="editComment()">edit</button>
                    <button mat-button (click)="deleteComment()">delete</button>
                </div>
                <button mat-button (click)="getReplies()">show replies</button>
            </div>
            <ng-container #container></ng-container>
        </ng-template>
    </mat-card-content>
</mat-card>

<mat-list role="list" style="margin-left: 10px;">
    <ng-container *ngFor="let reply of replies$ | async" >
        <app-comment [comment]="reply"></app-comment>
    </ng-container>
</mat-list>



