<mat-card class="container">
    <mat-card-header>
        <mat-card-title>Notifications</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-divider></mat-divider>
        <div *ngFor="let notification of notifications" style="display: flex; flex-direction: row; gap: 10px; align-items: center;" >
            <div class="listItem" [routerLink]="notificationLink(notification)" >
                <img style="border-radius: 50%;" width="32" height="32" [src]="notification.profilePictureLocation ? 
                environmentService.api + '/' + notification.profilePictureLocation :
                environmentService.defaultPictureLocation">
                <p matListItemLine>{{message(notification)}}</p>
            </div>
            <button mat-mini-fab (click)="notificationDelete(notification.id)"><mat-icon matListItemIcon>delete</mat-icon></button>
            <mat-divider></mat-divider>
        </div>
    </mat-card-content>
    
    
</mat-card>