<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" style="width: 50%; margin: auto;">
  <h3>Login</h3>
  <mat-divider></mat-divider>
  <p>
    <mat-form-field>
      <mat-label>username</mat-label>
      <input matInput id="username" type="text" formControlName="username">
    </mat-form-field>
  </p>
  
  <p>
    <mat-form-field>
      <mat-label>password</mat-label>
      <input matInput id="password" type="password" formControlName="password">
    </mat-form-field>
  </p>
  <p style="color: crimson;">
    {{errorMessage}}
  </p>
  <mat-divider></mat-divider>
  <button mat-raised-button class="button" type="submit">login</button>
  <button mat-raised-button class="button" routerLink="/sign-up">create an acount</button>
</form>
