<div style="display: flex; flex-direction: row; align-items: center;">
    <img class="profilePic" [src]="!!user.profilePictureLocation 
        ? environmentService.api + '/' + user.profilePictureLocation 
        : environmentService.defaultPictureLocation">
    <button mat-flat-button [matMenuTriggerFor]="userMenu">
        {{user.displayname}}
    </button>
    <mat-menu #userMenu>
        <button mat-menu-item [routerLink]="'/user/' + user.username">Go to profile</button>
        <button mat-menu-item [routerLink]="'/edit-profile'">Edit profile</button>
        <button mat-menu-item (click)="signOutClick()" routerLink="/">Sign out</button>
        <button mat-menu-item (click)="deleteClick()">Delete account</button>
    </mat-menu>
</div>