<mat-card>
    <mat-card-header class="card">
        <img mat-card-image class="image" [src]="api + '/' + post.previewPictureLocation"/>
        <mat-card-title>
            <button mat-flat-button [routerLink]="'/posts/' + post.uuid">
                {{this.post.title}}
            </button>
        </mat-card-title>
        <mat-card-subtitle>
            <a *ngIf="!!this.post.user;" [href]="'user/' + this.post.user.username">author: {{this.post.user.displayname}}</a>
            {{this.post.posted | date}}
        </mat-card-subtitle>
    </mat-card-header>
</mat-card>