.navigation {
    display: flex;
    flex-direction: row;
    height: 64px;
    background-color: #B5E2FA;
    margin: 0%;
    padding: 0%;
}
.button {
    display: flex;
    height: 100%;
    font-size: 90%;
    background-color: #0FA3B1;
    border-width: 0px;
}
.button:hover {
    height: 100%;
    font-size: 90%;
    background-color: #1c8c96;
    border-width: 0px;
    transition: 0.7;
}
.button:active {
    height: 100%;
    font-size: 90%;
    background-color: #5eadb4;
    border-width: 0px;
}
.profilePic {
    width: 80%;
    height: 80%;
    border-radius: 64px;
}